@import '~bulma/sass/utilities/_all';

// Estilos jeje
$red: #f80000;
$red-invert: findColorInvert($primary);

$footer-color: #ffffff;
$footer-background-color: #f80000;
$footer-padding: 2rem 1.5rem 2rem 1.5rem;

$link: #f80000;

$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'red': (
    $red,
    $red-invert,
  ),
);

@import '~bulma';
@import '~buefy/src/scss/buefy';
